h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.categories{
    justify-content: center ;
    display: flex;
}
.categories p{
    padding:7px;
}
body{
    background-color: beige;
}
.item-container{
    width:40%;
}